<h1>Player Listing</h1>
<table class="large-12">
    <thead>
        <tr>
            <td>Name</td>
            <td>Play Time</td>
            <td>Points</td>
            <td>Multiplier</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr class="ng-cloak" ng-repeat="player in players">
            <td>{{ player.getName() }}</td>
            <td>{{ player.getTime().getHours() }}:{{ player.getTime().getMinutes() }}:{{ player.getTime().getSeconds() }}</td>
            <td>{{ player.getPoints().getPoints().toFixed(2) }}<!-- Well, this is awkward --></td>
            <td>{{ player.getPoints().getMultiplier() }}</td>
            <td class="action-control">
                <ul class="button-group">
                    <li>
                        <button class="tiny" tooltip="Toggle timer" ng-class='{success: player.isClockedIn(), alert: ! player.isClockedIn()}' ng-click="player.isClockedIn() ? player.clockOut() : player.clockIn()">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </li>
                    <li>
                        <button class="tiny success" tooltip="Increase point" ng-click="player.getPoints().increasePointBy(1)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </li>
                    <li>
                        <button class="tiny alert" tooltip="Decrease point" ng-click="player.getPoints().increasePointBy(-1)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </li>
                    <li>
                        <button class="tiny success" tooltip="Increase multiplier" ng-click="player.getPoints().increaseMultiplier()">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                    </li>
                    <li>
                        <button class="tiny alert" tooltip="Decrease multiplier" ng-click="player.getPoints().decreaseMultiplier()">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </li>
                    <li>
                        <button class="tiny alert" tooltip="Remove player" ng-click="removePlayer(player.getName())">
                            <i class="fa fa-times"></i>
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>